@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');



.headerContainer{
  background-color: #282c34;
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 10px 15px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid white;
}

.profileContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-self: end;
  grid-gap: 10px;
  position: relative;
}

.pointCounterContainer {
  align-items: center;
  display: grid;
  justify-items: end;
  grid-template-columns: auto 25px;
  grid-gap: 5px;
  background-color: #ffffff85;
  padding:  5px 10px;
  border-radius: 1em;
}
.profileName:hover{
  cursor: pointer;
}

.pointCounterIcon {
  width: 100%;
}

.bannerContainer {
  height: 250px;
  background-color: #15dbff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.bannerCategory{
  font-size: 3em;
  font-family: 'Rubik', sans-serif;
  margin-left: 15px;
  color: #fff;
}

.bannerLogo{
  height:  100%;
}

.productsContainer{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  padding: 15px;
  justify-items: center;
  background-color: #282c34;
}

.productItemContainer{
  position: relative;
  width: 250px;
  height: auto;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-gap: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}
.productBuyIcon{
  position: absolute;
  right: 15px;
  top: 15px;
}
.productNeedCoin{
  position: absolute;
  right: 15px;
  top: 15px;
  display: grid;
  grid-template-columns: auto 30px;
  align-items: center;
  grid-gap: 5px;
  background-color: #282c34bb;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}

.productImage{
  grid-row: 2;
}
.productSeparator{
  grid-row: 3;
  background-color: #D9D9D9;
  height: .2px;
  width: 100%;
}
.productCategory{
  padding: 10px 5px;
  grid-row: 4;
  padding-left: 5px;
  color: #D9D9D9;
}
.productName{
  grid-row: 5;
  padding-left: 5px;
}

.hidden{
  display: none;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000a6;
  z-index: 8;
}

.menuModalDialogContainer{
  display: grid;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  top: 25%;
  left: 20%;
  right: 20%;
  bottom: 25%;
  color: black;
  z-index: 9;
  grid-template-rows: auto 1fr;
}

.headerMenu{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 40px;
  padding: 5px;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.headerTitle{
  margin-left: 15px;
}

.headerToolbar{
  cursor: pointer;
}

.profileToogleMenu {
  position: absolute;
  background-color: #282c34;
  top: calc(100% + 10px);
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  border: 1px solid;
  width: 100%;
}

.profileToogleItem {
  padding: 5px;
}
.profileToogleItem:hover {
  background-color: #ffffff73;
  cursor: pointer;
}


.addCoinContainer{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.addCoinInput{
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: 1fr 20px;
  padding: 5px;
  grid-gap: 4px;
  align-items: center;
  width: 100px;
  /* border: 1px solid #282c34; */
  border-radius: 5px;
  margin-bottom: 5px;
}

.addCoinInputNumber{
  grid-row: 1/-1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  align-items: center;
  justify-items: center;
  display: grid;
  color: white;
  background-color: #282c34;
}
.addCoinButtonSet{
  grid-row: 1/-1;
  grid-column: 2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto;
  width: 100%;
  height: 100%;
}



.addCoinButton{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.submitButton{
  background-color: #282c34;
  color: white;
  padding: 5px 15px;
  border: 0;
border-radius: 5px;
}

.historyContainer {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  padding: 5px;
  justify-items: center;
  background-color: #ffffff;
  overflow: auto;
}

.historyItemContainer{
  width: 150px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.historyDate{
  text-align: center;
  font-size: .7em;
  color: gray;
}
.historyName{
  text-align: center;
  background-color: #282c34;
  color: #ffffff;
}
.historyImage img{
  width: 100%;
}
.hoverCanBuy,.hoverCantBuy{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
}

.remaingPoints{
  padding: 5px 15px;
  border: 0;
  outline: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4em;
  /* background-color: #282c34; */
  color: #ffffff;
  border-radius: 5px;
  display: grid;
  align-self: flex-end;
}

.buttonCanBuy{
  padding: 5px 15px;
  border: 0;
  outline: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4em;
  background-color: #282c34;
  color: #ffffff;
  border-radius: 5px;
  display: grid;
  align-self: flex-start;
}